// Colors
$orangeColor: #ff9711;
$darkOrangeColor: #693e04;

$darkColor: #ff9711;
$buttonColor: #ff9711;
$hoverColor: #ff9711;
$textColor: white;
$macrosBackground: rgb(240, 240, 240);

// Fonts
$fontAsap: 'Asap', sans-serif;
