// Colors
$greenSeaweed: rgba(2, 128, 144, 1);
$blueQueen: rgba(69, 105, 144, 1);
$darkColor: rgb(16, 237, 49);
$buttonColor: rgb(16, 237, 49);
$hoverColor: rgb(16, 237, 49);
$textColor: white;
$macrosBackground: rgb(240, 240, 240);

// Fonts
$fontAsap: 'Asap', sans-serif;
