// Colors
$greenSeaweed: rgb(40, 40, 40);
$blueQueen: rgb(40, 40, 40);
$darkColor: rgb(16, 237, 49);
$buttonColor: rgb(16, 237, 49);
$hoverColor: rgb(16, 237, 49);
$textColor: white;
$macrosBackground: rgb(240, 240, 240);

// Fonts
$fontAsap: 'Asap', sans-serif;
