@import '../../assets/stylesheets/variables';

.macros {
  position: sticky;
  height: 272px;
  color: black;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;

  li {
    padding: 1%;
    // border: 2px solid rgb(85, 75, 75);
    border: 1px solid grey;
    border-radius: 50px;
    align-items: center;
    span {
      font-size: 13px;
    }
  }
  .carb {
    margin: auto 25%;
    background-color: $macrosBackground;
    box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);

    &:hover {
      color: $hoverColor;
    }
  }
  .protein {
    margin: auto 30%;
    background-color: $macrosBackground;
    box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);
    &:hover {
      color: $hoverColor;
    }
  }
  .fat {
    margin: auto 35%;
    background-color: $macrosBackground;
    box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);
    &:hover {
      color: $hoverColor;
    }
  }

  .calorie {
    margin: auto 40%;
    background-color: $macrosBackground;
    box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);
    &:hover {
      color: $hoverColor;
    }
  }
}

@media screen and (max-width: 593px) {
  .macros {
    li {
      .macro-header {
        font-size: 1rem !important;
      }
      span {
        font-size: 0.8rem;
        font-weight: 500;
      }
    }

    .carb {
      margin: auto 5%;
      background-color: $macrosBackground;
      box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);

      &:hover {
        color: $hoverColor;
      }
    }
    .protein {
      margin: auto 10%;
      background-color: $macrosBackground;
      box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);
      &:hover {
        color: $hoverColor;
      }
    }
    .fat {
      margin: auto 15%;
      background-color: $macrosBackground;
      box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);
      &:hover {
        color: $hoverColor;
      }
    }

    .calorie {
      margin: auto 20%;
      background-color: $macrosBackground;
      box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);
      &:hover {
        color: $hoverColor;
      }
    }
  }
}

@media screen and (min-width: 594px) and (max-width: 768px) {
  .macros {
    li {
      .macro-header {
        font-size: 1rem !important;
      }
      span {
        font-size: 0.8rem;
        font-weight: 500;
      }
    }

    .carb {
      margin: auto 20%;
      background-color: $macrosBackground;
      box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);

      &:hover {
        color: $hoverColor;
      }
    }
    .protein {
      margin: auto 25%;
      background-color: $macrosBackground;
      box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);
      &:hover {
        color: $hoverColor;
      }
    }
    .fat {
      margin: auto 30%;
      background-color: $macrosBackground;
      box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);
      &:hover {
        color: $hoverColor;
      }
    }

    .calorie {
      margin: auto 35%;
      background-color: $macrosBackground;
      box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);
      &:hover {
        color: $hoverColor;
      }
    }
  }
}

@media screen and (min-width: 769) and (max-width: 1034px) {
  .macros {
    li {
      .macro-header {
        font-size: 2rem !important;
      }
    }
  }
}
