.macros {
  position: sticky;
  height: 200px;
  color: black;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;

  li {
    padding: 1%;
    border: 2px solid black;
    border-radius: 50px;
    align-items: center;
    span {
      font-size: 13px;
    }
  }
  .carb {
    margin: auto 25% !important;
    background-color: rgb(236, 172, 0);
    &:hover {
      color: white;
    }
  }
  .protein {
    margin: auto 30% !important;
    background-color: rgb(236, 200, 9);
    &:hover {
      color: white;
    }
  }
  .fat {
    margin: auto 35% !important;
    background-color: rgb(236, 230, 9);
    &:hover {
      color: white;
    }
  }

  .calorie {
    margin: auto 40% !important;
    background-color: rgb(236, 260, 29);
    &:hover {
      color: white;
    }
  }
}
