@import '../../assets/stylesheets/variables';

.macros {
  position: sticky;
  height: 300px;
  color: black;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;

  li {
    padding: 1%;
    border: 2px solid black;
    border-radius: 50px;
    align-items: center;
    span {
      font-size: 13px;
    }
  }
  .carb {
    margin: auto 25% !important;
    background-color: $macrosBackground;
    box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);

    &:hover {
      color: $hoverColor;
    }
  }
  .protein {
    margin: auto 30% !important;
    background-color: $macrosBackground;
    box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);
    &:hover {
      color: $hoverColor;
    }
  }
  .fat {
    margin: auto 35% !important;
    background-color: $macrosBackground;
    box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);
    &:hover {
      color: $hoverColor;
    }
  }

  .calorie {
    margin: auto 40% !important;
    background-color: $macrosBackground;
    box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);
    &:hover {
      color: $hoverColor;
    }
  }
}
