@import '../../../../assets/stylesheets/variables';

.search {
  height: 100px;
  display: flex;
  place-content: center;
  border-radius: 20% !important;
  &-box {
    display: flex;
    transition: all 0.2s ease;

    input {
      appearance: none;
      border: 0;
      outline: 0;
      height: 40px;
      background-color: $textColor;
      padding: 0 10px;
      min-width: 250px;
      border-radius: 50px 0 0 50px;
      &:focus-within {
        box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.3);
      }
    }
    button {
      appearance: none;
      border: 0;
      outline: 0;
      height: 40px;
      background-color: $textColor;
      padding: 0 10px;
      cursor: pointer;
      border-radius: 0 50px 50px 0;
    }
  }
}

@media screen and (max-width: 346px) {
}

@media screen and (min-width: 347px) and (max-width: 480px) {
  .search {
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
}

@media screen and (min-width: 769) and (max-width: 1023) {
}
