.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: solid 6px #ff9711;
  background: #262626;
  z-index: 100;

  .header_content {
    width: 100%;
    height: 101px;
  }
  .header.scrolled .header_content {
    height: 65px;
  }
  .logo {
    left: -30px;

    .logoImg {
      height: 40px;
      margin-left: 20px;
    }

    div {
      margin-left: 10px;
      font-size: 40px;
      line-height: 0.75;
      color: #ffffff;
      font-weight: 700;

      span {
        font-weight: 300;
        text-transform: uppercase;
      }
    }
  }

  .main_nav {
    margin-left: 220px;

    ul {
      li {
        &:not(:last-of-type) {
          margin-right: 65px;
        }

        .active {
          a {
            color: #ff9711;
          }
        }
        a {
          font-size: 16px;
          font-weight: 300;
          color: #fff;

          &:hover {
            color: #ff9711;
          }
        }
      }
    }
  }

  .authButton {
    cursor: pointer;
    margin-left: 140px;
    height: 43px;
    padding-left: 23px;
    padding-right: 20px;
    border-radius: 22px;
    border: solid 1px #ff9711;
    box-shadow: 0 0 1px 0 #ff9711 inset, 0 0 1px 0 #ff9711;

    div {
      font-size: 16px;
      font-weight: 300;
      color: #fff;
    }
  }
}
