@charset "utf-8";

@media only screen and (max-width: 1199px) {
  .phone {
    margin-left: 90px !important;
    display: none !important;
  }
  .menu .phone {
    display: block !important;
  }
  .logo {
    left: auto;
  }
  .main_nav {
    margin-left: 70px !important;
  }
}

@media only screen and (max-width: 991px) {
  .hamburger {
    display: block;
  }
  .hamburger_bar {
    display: block;
  }
  .main_nav {
    display: none;
  }
  .phone {
    display: none !important;
  }
  .box {
    width: 100%;
  }
  .box:not(:last-child) {
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 767px) {
  .hamburger_bar {
    right: calc((100vw - 510px) / 2 - 15px);
  }
  .home_title {
    font-size: 72px !important;
    margin-top: -4px;
  }
  .home_button {
    margin-top: 37px;
  }
}

@media only screen and (max-width: 575px) {
  p {
    font-size: 13px;
  }
  .header_content,
  .header.scrolled .header_content {
    height: 65px;
  }
  .hamburger_bar {
    right: 0px;
    top: 20px;
    height: 65px;
  }
  .home_title {
    font-size: 48px;
  }
  .section_title {
    font-size: 48px;
  }
  .home_button {
    margin-top: 33px;
  }
  .home_button a {
    font-size: 14px;
  }
  .text_highlight {
    font-size: 15px;
  }
}
