@import '../../../assets/stylesheets/_variables.scss';

/* *,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body {
  font-size: 12px;
}

body,
button,
input,
textarea {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.backgroundModal {
  display: flex;
  min-height: 100vh;

  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;

    .screen {
      position: relative;
      background: #262626;
      border-radius: 15px;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 20px;
        right: 20px;
        bottom: 0;
        border-radius: 15px;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
        z-index: -1;
      }

      .screen-header {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        background: $orangeColor;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

        .screen-header-left {
          margin-right: auto;
          .screen-header-button {
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-right: 3px;
            border-radius: 8px;
            background: $textColor;
          }

          .screen-header-button.close {
            background: #ed1c6f;
          }
          .screen-header-button.red {
            background: #ed1c6f;
            cursor: pointer;
          }

          .screen-header-button.maximize {
            background: #0f1d08;
          }

          .screen-header-button.minimize {
            background: #74c54f;
          }
        }

        .screen-header-right {
          display: flex;

          .screen-header-ellipsis {
            width: 3px;
            height: 3px;
            margin-left: 2px;
            border-radius: 8px;
            background: black;
          }
        }
      }

      .screen-body {
        display: flex;

        .screen-body-item {
          flex: 1;
          padding: 50px;

          .app-form-group {
            margin-bottom: 10px;
          }

          .app-form-group.buttons {
            margin-bottom: 0;
            text-align: right;
            margin-left: 10px !important;
          }

          .app-form-control {
            width: 85%;
            background-color: white;
            color: black !important;
            border-bottom: 1px solid #666;
            border-radius: 10px;
            padding: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 42px;
            font-size: 14px;
            outline: none;
            transition: border-color 0.2s;
            box-shadow: 0 3px 5px -2px rgb(0 0 0 / 30%);
          }

          .app-form-control::placeholder {
            color: black;
          }

          .app-form-control:focus {
            border-bottom-color: #ddd;
          }

          .app-form-button {
            background: none;
            border: none;
            color: $orangeColor;
            font-size: 20px;
            cursor: pointer;
            outline: none;
            margin: 5px;
          }

          .foods-map {
            margin-left: 20px;
          }
          .app-form-button:hover {
            color: $darkOrangeColor;
          }

          .dribbble {
            width: 20px;
            height: 20px;
            margin: 0 5px;
          }
        }
      }

      .basket-reset-btn {
        margin-top: 10px;
        font-weight: bold;
        font-size: 13px;
        color: $textColor;
        background-color: $orangeColor;
        border: 2px solid black;
        width: 90px;
        height: 30px;
        border-radius: 50px;
        margin-left: 15px;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
      }

      .basket-delete-btn {
        font-size: 10px;
        color: $textColor;
        background-color: $orangeColor;
        border: 2px solid black;
        width: 20px;
        height: 20px;
        border-radius: 50px;
        margin-left: 15px;
        cursor: pointer;
      }

      @media screen and (max-width: 520px) {
        .screen-body {
          flex-direction: column;
        }

        .screen-body-item.left {
          margin-bottom: 30px;
        }

        .app-title {
          flex-direction: row;
        }

        .app-title span {
          margin-right: 12px;
        }

        .app-title:after {
          display: none;
        }
      }

      .shareOptions {
        display: flex;
      }

      .shareOption {
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      .shareIcon {
        font-size: 18px;
        color: #888;
      }

      .shareOptionText {
        font-size: 10px;
        font-weight: 200;
        color: $textColor;
      }
    }
  }
}

hr {
  border-bottom: 2px solid #ff9711 !important;
  opacity: 1 !important;
  margin-bottom: 50px !important;
  margin-left: 40px;
  margin-right: 40px;
}
hr:not([size]) {
  height: 0px;
}

.addMealButton {
  padding: 9px 25px;
  margin-bottom: 10px;
  background-color: $darkOrangeColor;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  transition: all 0.3s ease 0s;
  color: $textColor;
}

.dateTimePicker {
  background-color: $textColor;
  margin: 20px 40px 0px;
  border-radius: 30px;
  border: 0px solid;
  height: 46px;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}
