@import '../../assets/stylesheets/variables';

.foodCalendar {
  margin: 30px;
  margin-top: 200px;
  color: $orangeColor;

  button {
    color: $textColor;
    background-color: $orangeColor;
    border: 1px rgb(40, 40, 40) solid;

    &:hover {
      background-color: rgb(2, 2, 61);
    }
  }
}

.addButton {
  padding: 9px 25px;
  margin-bottom: 10px;
  background-color: rgb(40, 40, 40);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 900;
  font-size: 20px;
  transition: all 0.3s ease 0s;
  color: $textColor;
  &:hover {
    color: black;
  }
}

.fc {
  color: $orangeColor;
}

.fc .fc-button-primary {
  background-color: $orangeColor;
}

.fc .fc-button-primary:disabled {
  background-color: $darkOrangeColor;
}

.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled).fc-button-active {
  background-color: $darkOrangeColor;
}

.fc-theme-standard td,
.fc-theme-standard th {
  border: 2px solid $orangeColor;
}

.fc-col-header-cell-cushion {
  color: $darkOrangeColor;
  text-decoration: none;
}

.fc .fc-daygrid-day-number {
  color: $orangeColor;
  text-decoration: none;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end,
.fc-direction-rtl .fc-daygrid-event.fc-event-start {
  color: $darkOrangeColor;
}

.fc-daygrid-event-dot {
  border: blue;
}

.fc-col-header-cell {
  height: 40px;
  text-align: center !important;
  font-weight: 900;
  font-size: 1.3rem;
}

@media only screen and (max-width: 768) {
  .fc-col-header-cell {
    height: 40px;
    text-align: center !important;
    font-weight: 500;
    font-size: 1rem;
  }
}
